.contaiiner{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.navbar{
  margin-top: 100px;
  // height: 90px;
  border-radius: 5px;
  // // position: absolute;
  // background-color: transparent;
  // border-color: transparent;

}
.navbar-nav{
  // margin-left: 370px;
  cursor: pointer;
}
.taste{
  color: red;
  transition: 0.5s;
}
.taste:hover{
  color: white;
}
.it{
  font-weight: 700;
  font-size: 23px;
  font-family: roboto, Arial, sans-serif;
  color: white;
}
.navbar-brand{
  font-weight: 700;
  font-size: 23px;
  font-family: roboto, Arial, sans-serif;
  color: white;
}
.navbar-nav{
  .navbar-link{
    font-weight: 700;
    font-family: roboto, Arial, sans-serif;
    color: white;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-left: 20px;
    transition: 0.5s;
  }
}

.navbar-link:hover{
  color: red;

}
.navbar-link:focus{
  color: red;

}
.navbar-collapse{
  display: flex;
  justify-content: flex-end;
}
.carousel{
  height: 100vh;
  margin: 0px -122px;

  
}
.banner{
  height: 100vh;
  background-size: cover;

}
/***********************************************************************BOOK************************************************************/

.booking{
  height: 90vh;
}
.booking-content{
  display: flex;
  flex-direction: row;
}
.booking-box{
  background-color: rgb(214, 32, 32);
  margin-left: 120px;
  height: 90vh;
}
.booking-input-box{
  padding: 55px 40px;
  display: flex;
  flex-direction: column;
}
.booking-title{
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: white;
}
.booking-input{
  height: 40px;
  width: 300px;
  outline: none;
  background-color: rgb(214, 32, 32);
  border: 0.7px solid rgb(209, 193, 193);
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px 15px;
  color: white;
}
::placeholder{
  color: white;
}
.booking-btn{
  border: 2px solid white;
  border-radius: 5px;
  height: 60px;
  width: 300px;
  margin-top: 15px;
  background-color: white;
  padding: 17px 70px;
}
.booking-btn-link{
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 24px;
}
.booking-btn-link:hover{
  color: rgb(214, 32, 32);
  transition: 0.5s;
  text-decoration: none;
}
.booking-2{
  background-image: url(../assets/images/chef-cooking-fresh-vegetable-salad-his-kitchen.jpg);
  width: 63vw;
  height: 90vh;
  background-size: cover;
  background-color: white;
}
.booking-content-2{
  width: 350px;
  // height: 800px;
  margin-left: 50px;
  margin-top: 70px;
}
.booking-title-2{
  font-family: Comic Sans MS, cursive;
  font-size: 20px;
  font-weight: 400;
  color: rgb(214, 32, 32);
}
.booking-title-mini{
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto, Arial, sans-serif;
  line-height: 45px;
}
.booking-paragraph{
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #808080;
  margin-top: 20px;
}

/******************************************************************         PARALLAX       *****************************************************/

.margin{
  margin: 25%% 0;
}
.parallax{
  background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.541)), url(../assets/images/people-2561634_1920.jpg) repeat fixed 100%;
}
.parallax-inner{
  padding-top: 10%;
  padding-bottom: 10%;
}
.parallax-h1{
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 32px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
.parallax-h2{
  font-family: Roboto, Arial, sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
  color: white;
  text-align: center;
}

/******************************************************************         MENU       *****************************************************/

.menu {
  height: 270vh;
}

.menu-title{
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto, Arial, sans-serif;
  line-height: 45px;
  text-align: center;
  margin-bottom: 80px;
}
.menu-title-mini{
  font-family: Comic Sans MS, cursive;
  font-size: 20px;
  font-weight: 400;
  color: rgb(214, 32, 32);
  text-align: center;
  margin-top: 150px;
}
.menu-content{
  border: 1.99999999px dotted rgb(136, 135, 135);
  width: 370px;
  height: fit-content;
  background-color: rgb(248, 246, 246);
}
.menu-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 70px;
}
.menu-content:hover{
  border: 1.99999999px dotted #e52b34;
  transition: 0.4s;
}

.menu-food-title{
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: rgb(29, 28, 28);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.fas{
  color: rgb(231, 225, 225);
  font-size: 40px;
}
.menu-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-image{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}
.menu-food{
  margin: 30px;
}
.menu-food-2{
  border-bottom: 1.99999999px dotted rgb(136, 135, 135);
  display: flex;
  flex-direction: row;
  // margin: 20px;
  width: 280px;
}
.menu-food-2:hover{
  border-bottom: 1.99999999px dotted #e52b34;
  transition: 0.4s;
}
.menu-food-3{
  display: flex;
  flex-direction: row;
  // margin: 20px;
  width: 280px;
}
.menu-nick{
  font-size: 17px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 600;
  color: rgb(54, 54, 54);
  width: 100px;
  margin-bottom: 10px;
}
.menu-nick:hover{
  color: #e52b34;
  transition: 0.3s;
}
.menu-nick-2{
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  color: rgb(54, 54, 54);
  font-size: 15px;
  line-height: 30px;
  width: 200px;
  margin-bottom: 30px;
}
.menu-price{
  font-size: 20px;
  font-weight: 700;
  color: #e52b34;
  margin-left: -55px;
}
/******************************************************************         PARALLAX    2   *****************************************************/

// .margin-2{
//   margin: 25%% 0;
// }
.parallax-2{
  width: 100vw;
  background:  linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.541)), url(../assets/images/mediterranean-cuisine-2378758_1920.jpg) repeat fixed 100%;
  background-position: center;
  background-size: cover;
}
.parallax-inner-2{
  padding-top: 10%;
  padding-bottom: 10%;
}
.parallax-h1-2{
  font-family: Comic Sans MS, cursive;
  font-size: 20px;
  font-weight: 400;
  color: rgb(214, 32, 32);
  text-align: center;
  
}
.parallax-h2-2{
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto, Arial, sans-serif;
  line-height: 45px;
  color: white;
  text-align: center;
}

/******************************************************************       TESTIMONIAL   *****************************************************/

.testimonial-image-parallax{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 30px 0px;
}
.testimonial-parallax-inner{
  text-align: center;
  margin-top: 70px;
}
.testimonial-parallax{
  height: 60vh;
  width: 700px;
}
.testimonial-paragraph{
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: white;
  line-height: 28px;
}
.testimonial-p-name{
  font-family: Roboto, Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: white;
  line-height: 20px;
}
.customer{
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #b3b3b3;
  margin: 10px;
}
.carousel-indicators{
  .li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid rgb(95, 7, 7);
    background-color: red;
  }
}
.testimonial{
  display: flex;
  justify-content: center;
}
/******************************************************************   MASTER CHEF   *****************************************************/
.master-chef{
  background-color: rgb(248, 246, 246);
  height: 150vh;
}
.chef-master-mini{
  font-family: Comic Sans MS, cursive;
  font-size: 20px;
  font-weight: 400;
  color: rgb(214, 32, 32);
  text-align: center;
  padding-top: 100px;
}
.master-chef-title{
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto, Arial, sans-serif;
  line-height: 45px;
  color: rgb(0, 0, 0);
  text-align: center;
}
.chef-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px;
}
.chef-master-box{
  background-color: white;
  width: 250px;
}
.chef-master-img{
  width: 250px;
  height: 330px;
  object-fit: cover;
}
.chef-master-name{
  font-weight: 600;
  font-size: 18px;
  line-height: 10px;
  color: rgb(56, 55, 55);
  font-family: Roboto, Arial, sans-serif;
  margin: 15px;
}
.chef-master-job{
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  color: rgb(139, 138, 138);
  font-family: Roboto, Arial, sans-serif;
  margin: 0px 15px;
}
.chef-master-about{
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #8b8888;
  font-family: Roboto, Arial, sans-serif;
  margin: 10px 15px;
  width: 200px;
}
/******************************************************************   INGREDIANTS   *****************************************************/

.ingrediant{
  background-color: white;
  height: 400px;
}
.ingrediant-content{
  display: flex;
  flex-direction: row;
}
.ingrediant-box{
  display: flex;
  flex-direction: row;
  margin-left: 120px;
}
.ingrediant-img{
  width: 260px;
  height: 400px;
  object-fit: cover;
  margin-right: 20px;
}
.ingrediant-box-2{
  margin: 60px;
}
.ingrediant-title-mini{
  font-family: Comic Sans MS, cursive;
  font-size: 20px;
  font-weight: 400;
  color: rgb(214, 32, 32);
}
.ingrediant-title{
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto, Arial, sans-serif;
  line-height: 45px;
  color: rgb(0, 0, 0); 
}
.ingrediant-paragraph{
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #969393;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 30px;
  width: 500px;
}
.ingrediant-btn{
  margin-top: 30px;
}
.ingrediant-btn-link{
  text-decoration: none;
  font-size: 15px;
  color: white;
  background-color: rgb(214, 32, 32);
  border: 1px solid rgb(214, 32, 32);
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 500;
}
.ingrediant-btn-link:hover{
  border: 1px solid rgb(214, 32, 32);
  background-color: white;
  color: rgb(214, 32, 32);
  text-decoration: none;
  transition: 0.3s;
}
/******************************************************************   BLOG   *****************************************************/
.blog{
  background-color: rgb(248, 246, 246);
  width: 100vw;
  height: 160vh;
}
.blog-mini-title{
  font-family: Comic Sans MS, cursive;
  font-size: 20px;
  font-weight: 400;
  color: rgb(214, 32, 32);
  text-align: center;
  padding-top: 150px;
}
.blog-title{
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto, Arial, sans-serif;
  line-height: 45px;
  color: rgb(0, 0, 0); 
  text-align: center;
  margin-bottom: 100px;
}
.blog-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.blog-img{
  width: 370px;
  object-fit: cover;
  height: 250px;
}
.blog-box-2{
  background-color: white;
  width: 370px;
  border-bottom: 5px solid rgb(212, 207, 207);
  border-radius: 5px;
}
.blog-box-2:hover{
  border-bottom: 5px solid rgb(214, 32, 32);
  transition: 0.5s;
}
// .blog-box-2::after{
//   content: '';
//   width: 200px;
//   height: 10px;
//   background-color: red;
//   position: absolute;
//   bottom: 0%;left: 50%;
// }
.blog-box-3{
  margin: 20px;
}
.blog-date{
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #868484;
  cursor: pointer;
}
.blog-date:hover{
  color: rgb(216, 209, 209);
  transition: 0.5s;
}
.blog-paragraph{
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  font-family: Roboto, Arial, sans-serif;
  width: 300px;
}
.blog-contact{
  display: flex;
  flex-direction: row;
}
.blog-btn{
  text-decoration: none;
  font-size: 15px;
  color: white;
  background-color: rgb(214, 32, 32);
  border: 1px solid rgb(214, 32, 32);
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 500;
  margin: 20px 0px;
}
.blog-btn:hover{
  border: 1px solid rgb(214, 32, 32);
  background-color: white;
  color: rgb(214, 32, 32);
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}
.blog-icon-box{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(216, 209, 209);
  margin-top: 20px;
  margin-left: 180px;
  cursor: pointer;
}
.blog-icon{
  font-size: 11px;
  color: rgb(138, 135, 135);
  letter-spacing: 4px;
  padding-left: 9px;
  padding-top: 11px;
}
/******************************************************************   DELICIOUS   *****************************************************/
.delicious{
  height: 40vh;
  width: 100vw;
  background-color: #e52b34;
}
.delicious-title{
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto, Arial, sans-serif;
  color: white; 
  text-align: center;
  padding-top: 80px;
}
.delicious-btn{
  text-align: center;
  margin-top: 30px;
}
.delicious-btn-link{
  text-decoration: none;
  font-size: 15px;
  color: white;
  background-color:  #e52b34;
  border: 1px solid white;
  padding: 8px 25px;
  border-radius: 4px;
  font-weight: 500;
}
.delicious-btn-link:hover{
  border: 1px solid #e52b34;
  background-color: white;
  color:  #e52b34;
  text-decoration: none;
  transition: 0.3s;
}
/******************************************************************   FOOTER   *****************************************************/
.footer{
  background-color: rgb(34, 33, 33);
  
}
.footer-content{
  padding: 50px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-box{
  width: 300px;
}
.footer-title{
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-bottom: 40px;
}
.footer-paragraph{
  font-weight: 600;
  font-size: 15px;
  color: rgb(187, 182, 182);
  font-family: Roboto, Arial, sans-serif;
  line-height: 30px;
}
.footer-icon-box{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.footer-iconss{
  margin-right: 15px;
  border: 2px solid #e52b34;
  background-color: #e52b34;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.footer-icon{
  margin: 10px 12px;
  color: white;
}
.footer-list-box{
  display: flex;
  flex-direction: row;
  margin-left: -40px;
}
.footer-week-li{
  list-style: none;
  font-weight: 700;
  line-height: 28px;
  font-size: 14px;
  color: rgb(202, 207, 207);
}
.footer-time-li{
  list-style: none;
  font-weight: 400;
  line-height: 28px;
  font-size: 14px;
  color: #b1aeae;
}
.footer-img{
  width: 95px;
  height: 120px;
  object-fit: cover;
  margin: 0px -3px;
}
.footer-paragraph-2{
  font-weight: 600;
  font-size: 15px;
  color: rgb(187, 182, 182);
  font-family: Roboto, Arial, sans-serif;
  line-height: 30px;
  margin-bottom: 30px;
}
.footer-input{
  height: 60px;
  width: 300px;
  background-color: rgb(68, 67, 67);
  outline: none;
  border: none;
  color: rgb(187, 182, 182);
  border-radius: 3px;
  text-align: center;
}
::placeholder{
  color: rgb(187, 182, 182);
}
.footer-btn{
  margin-top: 35px;
  
}
.footer-btn-link{
  background-color: #e52b34;
  padding: 20px 110px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.footer-btn-link:hover{
  text-decoration: none;
  color: white;
}
.colorlib{
  height: 70px;
  width: 100vw;
  text-align: center;
  background-color: #e52b34;
}
.colorlib-paragraph{
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(187, 182, 182);
  padding-top: 20px;
}
.colorlib-heart{
  font-size: 14px;
  color: rgb(187, 182, 182);
}
.anvar{
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(187, 182, 182);
  padding-top: 20px;
}
.anvar:hover{
  color: rgb(219, 219, 219);
  text-decoration: none;
  transition: 0.3s;
}