.contaiiner{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/********************************************************            NAVBAR       ***************************************************/
.navbar{
  margin-top: 50px;
  background-color: transparent;
  // height: 90px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
  margin: 50px 100px;
  z-index: 100000;
}
@media (max-width: 992px){
  .home-page{
    .navbar{
      width: 100vw;
      background-color: black;
      margin: 0px;
      padding: 10px 15px;
      border-radius: 0px;
    }
  }
}
@media (max-width: 768px){
  .home-page{
    .navbar{
      width: 100vw;
      background-color: black;
      margin: 0px;
      border-radius: 0px;
    }
  }
}
@media (max-width: 590px){
  .home-page{
    .navbar{
      width: 100vw;
      background-color: black;
      margin: 0px;
      border-radius: 0px;
    }
  }
}
@media (max-width: 992px){
  .navbar.sticky{
    .navbar-collapse{
    background-color: white;
    margin-left: -20px;
    padding-left: 20px;
    }
  }
}
.navbar.sticky{
  background-color: white;
  height: 70px;
  margin: 0px;
  width: 100vw;
  border-radius: 0px;
}
.navbar.sticky .navbar-nav .navbar-items .navbar-links{
  color: black;
  margin-top: 10px;
}
.navbar.sticky .navbar-nav .navbar-items .active{
  color: #e52b34;
}
.navbar.sticky .taste{
  color: black;
}
.taste{
  color: #e52b34;
  transition: 0.5s;
  font-size: 23px;
  font-family: roboto, Arial, sans-serif;
  font-weight: 600;
}
.taste:hover{
  color: white;
}
.button-name{
  color: grey; 
  font-size: 18px;
}
.button-name:focus{
  border: none;
  outline: none;
}
.it{
  font-weight: 600;
  font-size: 23px;
  font-family: roboto, Arial, sans-serif;
  color: white;
}
.navbar-items{
  .navbar-links{
    font-weight: bold;
    font-family: roboto, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 20px;
    transition: 0.5s;
    padding: 25px 0px;
    color: white;
  }
}
.navbar-links:hover{
  color: #e52b34;
  transition: 0.3s;
}
/********************************************************            BACKGROUND-IMAGE        ***************************************************/

.banner-img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
}
@media(max-width: 992px){
  .banner-img{
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
}
@media(max-width: 768px){
  .banner-img{
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
}
@media(max-width: 590px){
  .banner-img{
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
}
.bg-image{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}
.back-caption{
  margin-bottom: 150px;
  text-align: center;
}
@media (max-width: 992px){
  .back-caption{
    text-align: center;
  }
}
@media (max-width: 768px){
  .back-caption{
    text-align: center;
    margin-bottom: 170px;
  }
}
@media (max-width: 590px){
  .back-caption{
    text-align: center;
    margin-bottom: 180px;
  }
}
@media (max-width: 390px){
  .back-caption{
    text-align: center;
    margin-bottom: 200px;
  }
}
.back-h3{
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: 1px solid rgb(231, 230, 230);
  width: 310px;
  padding: 7px;
  letter-spacing: 3px;
  font-family: Roboto, Arial, sans-serif;
  margin-bottom: -20px;
  margin-right: auto;
  margin-left: auto;
}

.back-paragraph{
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
  font-weight: 100;
  color: white;
  font-style: normal;
}
@media (max-width: 992px){
  .back-paragraph{
    font-size: 80px;
    margin-top: 20px;
  }
}
@media (max-width: 768px){
  .back-paragraph{
    font-size: 60px;
    margin-top: 20px;
  }
}
@media (max-width: 590px){
  .back-paragraph{
    font-size: 45px;
    margin-top: 20px;
  }
}
@media (max-width: 400px){
  .back-paragraph{
    font-size: 30px;
    margin-top: 20px;
  }
}
.back-dash{
  letter-spacing: -3px;
  color: #e52b34;
  font-weight: bold;
}
.back-date{
  font-size: 20px;
  color: #e52b34;
  font-weight: 700;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 6px;
}
/******************************************************************   INGREDIANTS   *****************************************************/
.ingrediant{
  background-color: white;
  height: fit-content;
 
}
.ingrediant-content{
  display: flex;
  flex-direction: row;
}
@media(max-width: 992px){
  .ingrediant-content{
    width: 100%;
  }
}
@media(max-width: 768px){
  .ingrediant-content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.ingrediant-box{
  display: flex;
  flex-direction: row;
  margin-left: 120px;
}
@media(max-width: 992px){
  .ingrediant-box{
    width: 50%;
  }
}
@media(max-width: 768px){
  .ingrediant-box{
    width: 50%;
  }
}
.ingrediant-img{
  width: 260px;
  height: 400px;
  object-fit: cover;
  margin-right: 20px;
}
@media(max-width: 1200px){
  .ingrediant-img{
    width: 100%;
    margin-left: -60px;
  }
}
@media(max-width: 992px){
  .ingrediant-img{
    width: 100%;
    margin-left: -60px;
  }
}
@media(max-width: 768px){
  .ingrediant-img{
    width: 100%;
    margin-left: -60px;
  }
}
.ingrediant-box-2{
  margin: 60px;
}
@media(max-width: 1200px){
  .ingrediant-box-2{
    width: 50%;
  }
}
@media(max-width: 992px){
  .ingrediant-box-2{
    width: 50%;
  }
}
@media(max-width: 768px){
  .ingrediant-box-2{
    width: 50%;
  }
}
.ingrediant-title-mini{
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  font-weight: 400;
  color: rgb(214, 32, 32);
}
.ingrediant-title{
  font-size: 40px;
  font-weight: 700;
  font-family: Roboto, Arial, sans-serif;
  line-height: 45px;
  color: rgb(0, 0, 0); 
}
@media (max-width: 992px){
  .ingrediant-title{
    font-size: 30px;
  }
}
@media (max-width: 768px){
  .ingrediant-title{
    font-size: 25px;
  }
}
.ingrediant-paragraph{
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #969393;
  font-family: Roboto, Arial, sans-serif;
  margin-top: 30px;
  width: 450px;
}
.ingrediant-btn{
  margin-top: 30px;
}
.ingrediant-btn-link{
  text-decoration: none;
  font-size: 15px;
  color: white;
  background-color: rgb(214, 32, 32);
  border: 1px solid rgb(214, 32, 32);
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 500;
}
.ingrediant-btn-link:hover{
  border: 1px solid rgb(214, 32, 32);
  background-color: white;
  color: rgb(214, 32, 32);
  text-decoration: none;
  transition: 0.3s;
}
/******************************************************************   FOOTER   *****************************************************/
.footer{
  background-color: rgb(34, 33, 33);
  
}
.footer-box-main{
  display: flex;
  flex-direction: row;
}
@media(max-width: 768px){
  .footer-box-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width: 590px){
  .footer-box-main{
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
}
.footer-content{
  padding: 50px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 1200px){
  .footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 992px){
  .footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px){
  .footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 590px){
  .footer-content{
    width: 100%;
  }
}
.footer-box1, .footer-box2, .footer-box3, .footer-box4 {
  width: 300px;
}
@media (max-width: 1200px){
  .footer-box1, .footer-box2, .footer-box3, .footer-box4 {
    margin: 20px;
    width: 100%;
  }
}
@media (max-width: 992px){
  .footer-box1, .footer-box2, .footer-box3, .footer-box4 {
    width: 70%;
  }
}

.footer-title{
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-bottom: 40px;
}
.footer-paragraph{
  font-weight: 600;
  font-size: 15px;
  color: rgb(187, 182, 182);
  font-family: Roboto, Arial, sans-serif;
  line-height: 30px;
  width: 260px;
}
.footer-icon-box{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.footer-iconss{
  margin-right: 15px;
  border: 2px solid #e52b34;
  background-color: #e52b34;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.footer-icon{
  margin: 10px 12px;
  color: white;
}
.footer-list-box{
  display: flex;
  flex-direction: row;
  margin-left: -40px;
}
.footer-week-li{
  list-style: none;
  font-weight: 700;
  line-height: 28px;
  font-size: 14px;
  color: rgb(202, 207, 207);
}
.footer-time-li{
  list-style: none;
  font-weight: 400;
  line-height: 28px;
  font-size: 14px;
  color: #b1aeae;
}
.footer-img{
  width: 95px;
  height: 120px;
  object-fit: cover;
  margin: 0px -3px;
}
@media (max-width: 1200px){
  .footer-img{
    width: 130px;
    height: 95px;
  }
}
@media (max-width: 590px){
  .footer-img{
    width: 120px;
    height: 120px;
    margin: 0px;
  }
}
.footer-paragraph-2{
  font-weight: 600;
  font-size: 15px;
  color: rgb(187, 182, 182);
  font-family: Roboto, Arial, sans-serif;
  line-height: 30px;
  margin-bottom: 30px;
  
}
.footer-input{
  height: 60px;
  width: 300px;
  background-color: rgb(68, 67, 67);
  outline: none;
  border: none;
  color: rgb(187, 182, 182);
  border-radius: 3px;
  text-align: center;
}
::placeholder{
  color: rgb(187, 182, 182);
}
.footer-btn{
  margin-top: 35px;
  
}
.footer-btn-link{
  background-color: #e52b34;
  padding: 20px 110px;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.footer-btn-link:hover{
  text-decoration: none;
  color: white;
}
.colorlib{
  height: 70px;
  width: 100vw;
  text-align: center;
  background-color: #e52b34;
}
.colorlib-paragraph{
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(187, 182, 182);
  padding-top: 20px;
}
.colorlib-heart{
  font-size: 14px;
  color: rgb(187, 182, 182);
}
.anvar{
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(187, 182, 182);
  padding-top: 20px;
}
.anvar:hover{
  color: rgb(219, 219, 219);
  text-decoration: none;
  transition: 0.3s;
}